.profile-profilePhoto{
  margin-top: -40px;
  max-width: 150px;
}

.profile-editButton{
  position: absolute;
  background-color: rgb(237, 237, 237, 0.8);
  top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: 5px;
  width: 34px;
  height: 34px;
  border-radius: 20px;
  cursor: pointer;
}

.profile-profileLevel{
  background-color: rgb(237, 237, 237, 0.8);
  max-width: 90px;
  min-height: 35px;
  font-weight: 500;
  font-size: 19px;
  padding-top: 2px;
  margin-top: -7px;
  border-radius: 10px;
}

.profile-profileName{
  font-weight: 500;
  font-size: 27px;
  margin-top: 25px;
}

.profile-profilePoints{
  max-width: 325px;
  min-height: 60px;
  background-color: #0086FA;
  border-radius: 10px;
  font-size: 30px;
  color: white;
  margin-top: 20px;
}

.profile-profileStats{
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 400px;
  font-size: 20px;
  font-weight: 500;
}

.profile-subtitle{
  font-size: 22px;
  font-weight: 600;
}

.profile-text{
  font-size: 19px;
  font-weight: 500;
}

.profile-interests{
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  min-height: 100px;
}

.profile-interest{
  font-size: 14px;
  background-color: #cccccc;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  margin-right: 10px;
}

.profile-myContent{
  background-color: rgb(237, 237, 237);
}