.addVideo-container{
  padding: 35px;
}

.addVideo-title{
  font-size: 22px;
}

.addVideo-close{
  position: absolute;
  right: 0;
  top: 0;
}

.addVideo-button{
  background-color: #0086FA;
  color: white;
  border: none;
  cursor: pointer;
  padding-top: 7px;
  border-radius: 10px;
  font-size: 15px;
  height: 35px;
  width: 240px;
}

.addVideo-button:hover{
  background-color: #157bd4;
}

.addVideo-text{
  font-size: 14px;
}

.addVideo-dropFile{
  margin-top: 35px;
  height: 315px;
  background-color: #DADDE0;
  border-radius: 15px;
}

.addVideo-videoImage{
  width: 270px;
  height: 152px;
  border-radius: 8px;
  object-fit: cover;
}

.addVideo-uploadVideo-dropFile{
  padding-top: 110px;
}

.addVideo-chargingVideo-dropFile{
  padding-top: 50px;
}

.addVideo-uploadBarBg{
  width: 640px;
  height: 32px;
  position: relative;
  margin: 55px auto 0px auto;
  background-color: white;
  border-radius: 8px;
}

.addVideo-percentage{
  position: absolute;
  color: #0086FA;
  width: 54px;
  margin: -53px auto 0px -27px;
  font-size: 27px;
}

.addVideo-arrow{
  position: absolute;
  margin: -15px auto 0px -6px;
}

.addVideo-uploadBarCharged{
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(95,179,252,1) 0%, rgba(0,134,250,1) 100%);
}

.addVideo-step{
  margin-left: 15px;
}

.addVideo-url{
  background-color: white;
  width: 238px;
  padding: 10px;
  border-radius: 8px;
  font-size: 13.7px;
}

.addVideo-copyLink{
  position: absolute;
  cursor: pointer;
  right: 0;
  margin: auto calc(var(--bs-gutter-x) * .5) auto 0px;
}

.addVideo-input{
  width: 100%;
  height: 32px;
  border-radius: 8px;
  padding-left: 10px;
}

.addVideo-largeInput{
  width: 100%;
  height: 82px;
  border-radius: 8px;
  padding-left: 10px;
  border: none;
}

.addVideo-largeInput:focus{
  outline: none;
}

.addVideo-miniature{
  width: 127px;
  margin-right: 9px;
  margin-top: -14px;
}

.addVideo-uploadMiniature{
  width: 127px;
  height: 70.73px;
  border-radius: 6px;
  background-color: #CCCCCC;
}

.addVideo-dropdown{
  background: white;
  width: 260px;
  height: 32px;
  border-radius: 8px;
  text-indent: 10px;
}

.addVideo-option{
  text-indent: 10px;
}

.addVideo-dropdownArrow{
  margin-left: -30px;
}

.addVideo-informacionInput{
  height: 32px;
  width: 260px;
  border-radius: 8px;
  margin-left: 20px;
  padding-left: 10px;
  position: absolute;
}

.addVideo-switch{
  height: 24px !important;
  width: 86px !important;
  display: inline;
}

.addVideo-tags{
  background-color: white;
  height: 54px;
  padding: 15px 10px;
  border-radius: 8px;
}

.addVideo-tag{
  background-color: #CCCCCC;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.addVideo-padding{
  padding-left: 45px;
}

.addVideo-terms{
  padding-left: 45px;
  max-height: 240px;
  overflow-y: scroll;
}

.addVideo-terms::-webkit-scrollbar{
  width: 8px;
}

.addVideo-terms::-webkit-scrollbar-track{
  box-shadow: rgba(0,0,0,0.5) -2px 0px inset; 
}

.addVideo-terms::-webkit-scrollbar-thumb{
  background: black; 
  border-radius: 10px 0px 0px 10px;
}

.addVideo-terminos{
  height: 32px;
  width: 180px;
  border-radius: 8px;
  margin-left: 20px;
  padding-left: 30px;
}

.addVideo-money{
  position: absolute;
  left: 0;
  margin-top: 12px;
  margin-left: 30px;
}

.addVideo-visibilitySubtext{
  padding-left: 31px;
}

.addVideo-largeInputPublish{
  width: 100%;
  height: 180px;
  border-radius: 8px;
  padding-left: 10px;
  line-height : 18px;
  border: none;
}

.addVideo-publishContainer{
  background-color: white;
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
  position: relative;
}

.addVideo-publishEdit{
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 8px;
  margin-top: 5px;
}

.addVideo-publicButton{
  padding-top: 5px;
  height: 35px;
  width: 240px;
  color: white;
  border-radius: 8px;
  background-color: #0086FA;
  cursor: pointer;
}

.addVideo-closeButton{
  padding-top: 5px;
  height: 35px;
  width: 240px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.addVideo-continue{
  background-color: #0086FA;
}

.addVideo-save{
  background-color: #77CE84;
}

.addVideo-exit{
  background-color: #BB005D;
}