.creatorProfile-pageContainer{
  padding: 0% 5% 5% 5%;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 3%;
  background-color: #ededed;
}

.creatorProfile-innerPage{
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 15px;
  background-color: white;
}

.creatorProfile-profilePhoto{
  padding-top: 50px;
  max-width: 150px;
}


.creatorProfile-back{
  font-size: 25px;
}