.carousel-control-next-icon {
  background-image: url("../../../assets/Iconos/ArrowCarouselDark.svg");
  transform: rotate(180deg);
}

.carousel-control-prev-icon {
  background-image: url("../../../assets/Iconos/ArrowCarouselDark.svg");
}

.carousel-control-next, .carousel-control-prev{
  width: 10% !important;
  opacity: 80%;
}