.header-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(33, 37, 41, 0.9);
  height: 89px;
  z-index: 99999;
  padding: 16px;
}

.header-image{
  height: 48px;
  margin-top: 5px;
  margin-left: 16px;
}