.navbarheiht{
  height: 89px;
}

.search-icon{
  position: absolute;
  top: 12px;
  right: -6px;
}

.icon-subtext{
  font-size: 13pt;
  position: absolute;
  top: 43px;
  left: 8px;
}

.navbar-search{
  border-radius: 15px;
  padding-left: 15px;
}