.newuser-background{
  background-image: url("../../assets/fotos/Recurso\ 35.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.newuser-title{
  font-size: 40pt;
  margin-top: 80%;
}

.newuse-mb{
  margin-bottom: 80%;
}

.newuser-greenbg{
  background-color: rgb(159, 220, 168, 0.7);
}

.newuser-beneficios{
  margin-top: 25%;
  margin-bottom: 4%;

  padding-left: 8%;
  padding-right: 8%;
}

.newuser-videos{
  background-color: #7b7a80;
  padding-top: 5%;
  padding-bottom: 5%;
}

.newuser-title-videos{
  color: white;
}

.newuser-rowImage{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.newuser-esperar{
  margin-top: 4%;
  margin-bottom: 4%;

  padding-left: 10%;
  padding-right: 10%;
}

.newuser-title-esperar{
  margin-bottom: 4%;
}

.newuser-select{
  width: 20%;
  height: 60px;
}