.carousel-control-prev-icon {
  background-image: url("assets/Iconos/Recurso 54.png") !important;
}

.carousel-control-next-icon {
  background-image: url("assets/Iconos/Recurso 53.png") !important;
}

.background-image{
  background-image: url("./assets/fotos/Recurso 35.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -89px;
}

body{
  font-family: 'Maven Pro', sans-serif;
  position: relative;
  padding-bottom: 210px;
  min-height: 100vh;
}

h1{
  font-size: 40pt;
}

h2{
  font-weight: 500;
}

h3{
  font-weight: 500;
}

h4{
  font-weight: 500;
}

h5{
  font-weight: 500;
}

h6{
  font-weight: 500;
}

.greencolor{
  color: #4D4D4D;
  background-color: #9FDCA8;
  border: none;
}

.bluecolor{
  color: white;
  background-color: #29ABE2;
  border: none;
}

.bluebigcolor{
  color: white;
  background-color: #0086FA;
  border: none;
}

.card{
  border-radius: 10px;
  opacity: 95%;
}

.front{
  padding: 5% 0% 2% 0%;
}

.title-principal{
  padding: 13% 0 13% 0;
}

.top-creators{
  background-color: #f2f2e9;
}

.card-top-creators{
  min-width: 46%;
  background-color: #B3B3B3;
  border: none;
  padding: 4px 7px 4px 7px;
  color: white;
  margin: 0px;
  display: inline-block;
}

.live-tag{
  position: absolute;
  top: 16px;
  left: 213px;
}

.views-icon{
  position: absolute;
  top: 3px;
  left: 35px;
}

.tabtabO{
  width: 10%;
}

.tabtab{
  width: 26.6%;
}

.tab{
  border: none;
  background-color: #f2f2e9;
}

.modalBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #212529;
  height: 89px;
  z-index: 99999;
  padding: 16px;
}

.imageBanner{
  height: 48px;
  margin-top: 5px;
  margin-left: 16px;
}

.modalBackground{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 99999;
}

.modalContainer{
  width: 600px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-left: 3%;
  padding-right: 3%;
}

.modalContainerInfo{
  width: 860px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-left: 3%;
  padding-right: 3%;
}

.modalWidth{
  width: 75%;
  height: 50px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.login-icon{
  position: absolute;
  top: 10px;
  margin-left: 10px;
}

.container-icon{
  position: relative;
}

.close-icon{
  position: absolute;
  margin-top: -25px;
  margin-left: 265px;
  cursor: pointer;
}

.close-icon-info{
  position: absolute;
  margin-top: -25px;
  margin-left: 390px;
  cursor: pointer;
}


.modalButton{
  border-radius: 10px;
  height: 50px;
}

.modalForgot{
  text-decoration: none;
}

.modalLink{
  color:black;
  cursor: pointer;
}

.calendar-icon{
  position: absolute;
  top: 13px;
  left: 89%;
}

.greenCircle{
  background-color: #a8e3c7;
  padding: 3px;
  height: 18px;
  margin-right: 10px;
  width: 18px;
  border-radius: 50%;
}

.grayCircle{
  background-color: lightgray;
  padding: 3px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.firstCircle{
  margin-left: 46.5%;
}

.dropdown-icon{
  position: absolute;
  transform: rotate(90deg);
  width: 12px;
  top: 22px;
  left: 91.5%;
}

.tag-icon1{
  position: absolute;
  background-color: lightgray;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  top: 15px;
  right: 84.5%;
}

.tag-icon2{
  position: absolute;
  background-color: lightgray;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  top: 15px;
  right: 65%;
}

.tag-icon3{
  position: absolute;
  background-color: lightgray;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  top: 15px;
  right: 50%;
}

.modalNextButton{
  background-color: #a8e3c7;
  color: black;
  border: none;
}

.modalNextButton:hover{
  background-color: #91c8ae;
  color: black;
  border: none;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.fadeIn {
  animation-name: fadeIn;
}